
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}



.header{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 632px;
    }

.header .left{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header .right{
    font-size: 18px;
    color: #e5e7eb;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.intro{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 128px;
}

.hero-text{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 16px;
}

.hero-sub{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.button1{
    background-color: #3882f6;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.button1 a{
    color:white;
    text-decoration: none;
}

.button2{
    background-color: #3882f6;
    text-align: center;
    border: solid white 2px;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.button2 a{
    color:white;
    text-decoration: none;
}

.intro img{
      height: 300px;
      width: auto;
}

.pics img{
    height: 150px;
    width: 150px;
    border: solid #3882f6 4px;
    border-radius: 8px;
}

.monsters{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 64px;
}
.monsters .title{
    font-size: 36px;
    font-weight: bold;
    color:#1f2937;
    
    
}

.mons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.pics{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pics .text{
    font-size: 18px;
}

.quote{
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 256px;
    padding-right: 256px;
}

.quote .text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote .author{
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
}

.call{
    display: flex;
    height: 300px;
    padding: 16px;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: #3882f6;
    border: 0;
    border-radius: 6px;
    display: flex;
    width: 1000px;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.box .text{
    color: white;
    font-size:24px;
}
.box .text .title{
    font-weight: bold;
    font-size: 36px;
}
.footer{
    background-color: #1f2937;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}